body {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  box-shadow: 0 0 10px 0 lightgray;
  padding-bottom: 30px;
  overflow: hidden;
}

.container-section {
  margin: 2rem;
  padding: 0 8rem;
  overflow: auto;
  height: 90vh;
}

.container-section::-webkit-scrollbar {
  width: 7px;
}

.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.skeleton-text {
  width: 100%;
  height: 0.5rem;
  margin-bottom: 0.25rem;
  border-radius: 0.125rem;
}

.skeleton-text:last-child {
  margin-bottom: 0;
  width: 80%;
}
